@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Bold';
    src: url('font/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: rgb(34, 34, 34);
    font-family: 'Gilroy';
}

*{
    font-family: 'Gilroy';
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* REMOVE SPINNERS FROM NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.budget-container{
    position: absolute;
    width: 360px;
    height: 750px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: linear-gradient(#0039a6,#020111);
}

.budget-container .app-title{
   
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    }

.budget-container .app-title a{
    color: #FFF;
    font-size: large;
    
}
.budget-container .app-title a b{
   
    font-family: 'Gilroy Bold';
}
.title{
   
  }
.budget-header{
  
    margin-left: 10px;
    width: 339px;
    border-radius: 7px 7px 7px 7px;
   box-shadow: 4px -1px 49px -8px rgba(7,7,7,0.75);
-webkit-box-shadow: 4px -1px 49px -8px rgba(7,7,7,0.75);
-moz-box-shadow: 4px -1px 49px -8px rgba(7,7,7,0.75);
   }

.budget-header .balance{
   
    padding-top: 10px;
    padding-bottom: 1px;
    margin-top: 40px;
    margin-left: 10px;
    width: 318px;
    height:150px;
  
    
}

.budget-header .balance .title{
    color: #FFF;
    font-size: 1.1em;
    padding-left: 125px;
    font-family: 'Gilroy Bold';
    
    
}

.budget-header .balance .value{
    color: rgb(47, 216, 55);
    padding-left: 125px;
    font-size: 1.2em;
    margin-top: 2px;
    font-family: 'Gilroy Bold';
    
    
}

.budget-header .account{
    display: block;
    border-radius:2px 2px 0 0 ;
    width: 310px;
    margin: 2px auto 0;
    line-height: 1.4em;
    text-align: center;
    
    
}


.chart{
    
    height: 80px;
    padding-top: 10px;
    padding-left:15px;
    margin-left: 100px;
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}


.budget-header .account .income,.outcome{
    height: 50px;
    display: inline-block;
    width: 100px;
   border-radius: 5px 5px 5px 5px;
    vertical-align: middle;
    box-shadow: 4px -1px 49px -8px rgba(7,7,7,0.75);
-webkit-box-shadow: 4px -1px 49px -8px rgba(7,7,7,0.75);
-moz-box-shadow: 4px -1px 49px -8px rgba(7,7,7,0.75);
}

.budget-header .account .income .title{
    color: #FFF;
    opacity: 0.6;
}
.budget-header .account .income .income-total{
    color:#fff;
    font-family: 'Gilroy Bold';
}

.budget-header .account .outcome .title{
    color: #FFF;
    opacity: 0.6;
}
.budget-header .account .outcome .outcome-total{
    color: rgb(240, 105, 21);
    font-family: 'Gilroy Bold';
}

/*/////////////   DASHBOARD    /////////////*/
.budget-dashboard{
    display: block;
    width: 339px;
    height: 439px;
    background-color: #FFF;
    margin-top: 10px;
    margin-left: 10PX;
    margin-right: 10px;
    border-radius: 10px 10px 0 0;
}

.budget-dashboard .dash-title{
    display: inline-block;
    color: #1a0034;
    font-size: 1.3em;
    margin-left: 15px;
    margin-top: 13px;
    margin-bottom: 10px;
    font-family: 'Gilroy Bold';
    
}

.toggle{
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    
}

.toggle .tab1, .tab2, .tab3{
    display: inline-block;
    cursor: pointer;
    font-size: 0.9em;
    color: #1a0034;
    font-family: 'Gilroy Bold';
    opacity: 0.4;
    
}


.toggle .tab2, .tab3{
    margin-left: 10px;
    
}

.active{
    opacity : 1 !important;
    
    
}

.hide{
    display: none;
}

.budget-dashboard input{
    /* MAKE INPUT SELECTABLE */
    -webkit-user-select: auto;      
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    
}

/* ////////// ALL ///////////// */
.budget-dashboard #all{
    width: 335px;
    height: 339px;
    position: relative;
    margin-left: 1px;
   
}
.budget-dashboard #all ul{
    width: 335px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #all ul.list li{
    padding-top: 5px;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 7px;
    position: relative;
    font-size: 1em;
    border: #020111 1px dotted;
    box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
-webkit-box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
-moz-box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
}

.budget-dashboard #all ul.list li *{
    padding-top: 5px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
   
}

.budget-dashboard #all ul.list li .entry{
    width:250px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    font-family: 'Gilroy Bold';
    
}

.budget-dashboard #all ul.list li #edit{
    visibility: hidden;
}

.budget-dashboard #all ul.list li #delete{
    position: absolute;
    margin-top: 5px;
    width:20px;
    height: 20px;
    right: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #all ul.list li.income{
    color: rgb(47, 216, 55);
}
.budget-dashboard #all ul.list li.expense{
    color: #ed5b44ec;
}

/* //////// EXPENSE ////////// */
.budget-dashboard #expense{
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #expense .input{
    position: absolute;
    display: block;
    width: 347px;
    bottom: 0;
    
}

.budget-dashboard #expense .input *{
    display: inline-block;
    vertical-align: middle;
}

.budget-dashboard #expense .input input#expense-title-input{
    height: 40px;
    width : 125px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-right: 12px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(250, 251, 252);
}

.budget-dashboard #expense .input input#expense-amount-input{
    height: 40px;
    width : 125px;
    margin-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-left: -10px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(250, 251, 252);
}

.budget-dashboard #expense .input .add-expense img{
    width: 40px;
    height: 40px;
    padding-right: 5px;
    cursor: pointer;
}

.budget-dashboard #expense ul{
    width: 335px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #expense ul.list li{
    position: relative;
    padding-top: 5px;
    border-radius: 7px 7px 7px 7px;
    border: #020111 1px dotted;
    margin-bottom: 7px;
    font-size: 1em;
    margin-left:1px;
    font-size: 1em;
    box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
-webkit-box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
-moz-box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
}

.budget-dashboard #expense ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.budget-dashboard #expense ul.list li .entry{
    width:250px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    font-family: 'Gilroy Bold';
    color: #ed5b44ec;
}

.budget-dashboard #expense ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    margin-top: 5px;
    right: 50px;
    padding-right: 20px;
    margin-left: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #expense ul.list li #delete{
    position: absolute;
    width:20px;
    margin-left: 50px;
    margin-top: 5px;
    height: 20px;
    right: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

/* /////// INCOME //////// */
.budget-dashboard #income{
    width: 360px;
    height: 339px;
    position: relative;
}

.budget-dashboard #income .input{
    position: absolute;
    display: block;
    width: 347px;
    bottom: 0;
    
}

.budget-dashboard #income .input *{
    display: inline-block;
    vertical-align: middle;
}

.budget-dashboard #income .input input#income-title-input{
    height: 40px;
    width : 125px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-right: 12px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(250, 251, 252);
}

.budget-dashboard #income .input input#income-amount-input{
    height: 40px;
    width : 125px;
    margin-left: 10px;
    font-size: 1.2em;
    font-family: 'Gilroy';
    margin: 5px;
    margin-left: -10px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(250, 251, 252);
}

.budget-dashboard #income .input .add-income img{
    width: 40px;
    height: 40px;
    padding-right: 5px;
    cursor: pointer;
}

.budget-dashboard #income ul{
    width: 335px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.budget-dashboard #income ul.list li{
    position: relative;
    padding-top: 5px;
    border-radius: 7px 7px 7px 7px;
    border: #020111 1px dotted;
    margin-bottom: 7px;
    font-size: 1em;
    margin-left:1px;
    font-size: 1em;
    box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
-webkit-box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
-moz-box-shadow: 4px -1px 22px -4px rgba(7,7,7,0.75);
}

.budget-dashboard #income ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.budget-dashboard #income ul.list li .entry{
    width:250px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    font-family: 'Gilroy Bold';
    color: rgb(47, 216, 55);
}

.budget-dashboard #income ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    margin-top: 5px;
    right: 50px;
    padding-right: 20px;
    margin-left: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.budget-dashboard #income ul.list li #delete{
    position: absolute;
    width:20px;
    margin-left: 50px;
    margin-top: 5px;
    height: 20px;
    right: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}